<div class="navbar is-transparent">
    <div class="navbar-brand p-4">
        <a class="navbar-item title is-3" href="<%= root_path %>">Gallery App</a>
        <% if user_signed_in? %>
            <%= link_to t(".logout"), destroy_user_session_path, method: :delete, class: "navbar-item button" %>
        <% else %>
            <%= link_to t(".sign_in"), new_user_session_path, class: "navbar-item button" %>
            <%= link_to t(".register"), new_user_registration_path, class: "navbar-item button" %>
        <% end %>
    </a>
</div>