<section class="hero is-info">
    <div class="hero-body">
        <p class="title">View and create Galleries</p>
        <a class="button" href="<%= galleries_path %>">View galleries</a>
    </div>
</section>