<div class="card">
    <div class="card-header">
        <p class="card-header-title">
            <%= gallery.name %>
        </p>
    </div>

    <div class="card-footer">
        <%= link_to t(".view_gallery"), users_user_gallery_path(gallery.user, gallery), class: "card-footer-item" %>
        <%= link_to t(".edit_gallery"), edit_users_user_gallery_path(gallery.user, gallery), class: "card-footer-item" %>
        <%= link_to t(".delete_gallery"), users_user_gallery_path(gallery.user, gallery), method: :delete, class: "card-footer-item" %>
    </div>
</div>