<section class="section">
    <%= link_to t(".new_gallery"), new_users_user_gallery_path(current_user), class: "button" %>
    <div class="container">
        <% @galleries.each do |gallery| %>
            <%= render partial: 'gallery', locals: {gallery: gallery} %>
        <% end %>
    </div>
</section>