<section class="section">
    <%= link_to t(".new_image"), new_users_user_gallery_gallery_image_path(current_user, @gallery), class: "button" %>
    <div class="container">
        <% @gallery.gallery_images.each do |image| %>
            <%= render partial: 'users/gallery_images/image', locals: {image: image} %>
        <% end %>
    </div>
</section>