<section class="section">
    <div class="container">
        <% @galleries.each do |gallery| %>
            <%= render partial: 'gallery', locals: {gallery: gallery} %>
        <% end %>
    </div>
</section>