<%= form_with model: [:users, current_user, @gallery, image] do |form|%>
    <%= form.label :title %>
    <%= form.text_field :title %>

    <%= form.label :alt %>
    <%= form.text_field :alt %>

    <%= form.label :image %>
    <%= form.file_field :image %>

    <%= form.submit %>
<% end %>