<div class="card">
    <div class="card-image">
       <%= image_tag  image.image.variant(resize_to_limit: [100, 100]) %>
    </div>

    <div class="card-footer">
        <%= link_to t(".edit_image"), edit_users_user_gallery_gallery_image_path(image.user, image.gallery, image), class: "card-footer-item" %>
        <%= link_to t(".delete_image"), users_user_gallery_gallery_image_path(image.user, image.gallery, image), method: :delete, class: "card-footer-item" %>
    </div>
</div>